:root {
  text-align: center;
  margin: auto;
  font-family: monospace;
  padding: 100px;
  color: white;
  background-color: rgb(36,36,36)
}

#container {
	padding: 30px;
	margin: 15px 15px 15px 15px;
}

#title {
  letter-spacing: 10px;
}

b-x {
	text-align: center;
	display: block;
	margin: 40px auto;
	padding: 10px;
	width: -moz-available;
	width: -webkit-fill-available;
	max-width: 660px;
	background: linear-gradient(#0e0e0e, #080808);
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	box-shadow: inset 0 0 0 2px #000;
}

upgrade {
	text-align: center;
	display: block;
	margin: 5px auto;
	padding: 10px;
	width: -moz-available;
	width: -webkit-fill-available;
	max-width: 660px;
	background: linear-gradient(#0e0e0e, #080808);
	border: 1px solid #323232;
	border-radius: 8px;
	outline: 2px solid #000;
	box-shadow: inset 0 0 0 2px #000;
}

#meme {
	border-radius: 30px;
	transition: 0.3s;
}

#meme:hover {
	width: 60px;
	height: 60px;
}

.upgrade {
	border-radius: 30px;
	transition: 0.3s;
}

.upgrade:hover {
	width: 60px;
	height: 60px;
}